<!doctype html>
<html>

{% include head.html %}

<body>

<div class="container">
  {% include header.html %}
  <div class="posts-wrapper">
    {{ content }}
  </div>

  <div class="posts-wrapper">
  <!-- devbjad1 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-3059347231702682"
         data-ad-slot="6413998446"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

  {% include footer.html %}
</div>

</body>
</html>
